.left{
  display: flex;
  align-items: center;

}
.right{
  display: flex;
  align-items: center;
}
.heading{
  font-size: 20px;
  font-weight: bold;
  position: relative;
}

.searchBox{
  background: #262626;
  margin-left: 20px;
  display: flex;
  align-items: center;
  
  min-width: 300px;
  border-radius: 20px;
  height: 40px;
}

.searchInput{
  font-size: 15px;
  font-weight: bold;
  background: none;
  border: none;
  outline: none;
  padding: 10px 20px;
  color: #FFFFFF;
  width: 100%;
}

.joinBtn{
  width: 50px;
  height: 40px;
  color: #FFFFFF;
  font-weight: bold;
  background: #20bd5f;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  outline: none;
  border: none;
}

.heading::after{
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 60%;
  height: 4px;
  background: #0077FF;
}

.roomsHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.startRoomButton{
  display: flex;
  align-items: center;
  background: #20bd5f;
  border: none;
  outline: none;
  padding: 5px 20px;
  margin-left: 20px;
  border-radius: 20px;
  height: 42px;
  cursor: pointer;
  color: #FFFFFF;
  transition: all .3s ease-in-out;
}

.startRoomButton span{
  font-weight: bold;
  font-size: 16px;
  margin-left: 10px;
}

.startRoomButton img{
  height: 24px;
  width: 24px;
}

.startRoomButton:hover{
  background: #0f6632;
}

.roomList {
  flex-wrap: wrap;
  display: grid;
  gap: 20px;
  margin-top: 60px;
}
@media screen and (min-width: 550px) {
  .roomList {
    grid-template-columns: repeat(2, 1fr); /* Two columns when viewport width is 768px or more */
  }
}
@media screen and (min-width: 868px) {
  .roomList {
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media screen and (min-width: 1200px) {
  .roomList {
    grid-template-columns: repeat(4, 1fr); /* Back to four columns when viewport width is 1200px or more */
  }
}
